* {
  margin: 0;
  padding: 0; }

/* variables */
/* componentes */
body {
  background-image: url(../../imagenes/patronv2.png);
  background-repeat: round; }

.container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px; */
  grid-template-areas: "header header header header header header" "main main  main main main  main" "main main  main main main  main" "aside aside aside aside aside aside" "footer footer footer footer footer footer"; }

.header {
  grid-area: header; }
  .header ul {
    margin: 0 auto; }
    .header ul li {
      margin-right: 1rem; }
      .header ul li a {
        text-decoration: none;
        color: white; }

#marginLeft {
  margin-left: 1rem; }

.aside {
  grid-area: aside;
  padding: 3rem; }
  .aside .reproductor {
    margin: 0 auto;
    max-width: 600px; }

#logoFooter {
  max-width: 60px; }

.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black; }
  .footer ul {
    list-style: none;
    display: flex; }
    .footer ul li {
      margin: 1rem; }
    .footer ul a {
      text-decoration: none;
      color: white; }

/* paginas */
#logoPrincipal {
  max-height: 120px; }

#imgBio {
  height: 400px; }

#sinLista {
  display: none; }

.contenedorMain {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 3rem;
  align-items: center;
  color: white; }
  .contenedorMain h1 {
    margin: 2rem; }
  .contenedorMain img {
    margin: 2rem; }
  .contenedorMain p {
    max-width: 800px;
    margin: 2rem; }

.main {
  grid-area: main; }

.discos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .discos p {
    max-width: 200px;
    text-align: center; }
  .discos img {
    max-height: 150px; }

.fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .fotos img {
    max-height: 150px; }
    .fotos img:hover {
      filter: invert(100%);
      transition: all .5s ease-in-out; }

.contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center; }
  .contacto form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch; }
    .contacto form div {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center; }
    .contacto form .botones {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch; }
