.contacto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        
        label{
            @include parrafo-padding ($tipografiaEbGar, 1rem);
        }

        div {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }

        .botones {
            display: flex;
            flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
        }
    }
}

@media screen and (max-width: 251px){
    form{
        max-width: 90px;
    }

}