.contacto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;

        div {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }

        .botones {
            display: flex;
            flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
        }
    }
}