.discos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p{
        max-width: 200px;
        text-align: center;
    }

    img {
        max-height: 150px;
    }

}

@media screen and (max-width: 315px){
    .discos{
        img{
            max-width: 100px;

        }
        }
    }
