body{

    background-image: linear-gradient(90deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.9) 100%), url(../../imagenes/patronv2.png);
    background-repeat: round;

}
.container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px; */
    grid-template-areas:
        "header header header header header header"
        "main main  main main main  main"
        "main main  main main main  main"
        "aside aside aside aside aside aside"
        "footer footer footer footer footer footer";
}







