#logoFooter{
    max-width: 60px;
}

.footer{
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    ul{
        list-style: none;
        display: flex;
        li{
            margin: 1rem;
        }
        a{
            text-decoration: none;
            color: white;
        }
    }
}